@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.booklist-content {
    display: grid;
    grid-template-columns: (4, 1fr);
    gap: 2rem;
    text-align: center;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #CEC88A;
    border-radius: 10px;
    max-width: 180px;
}

.book-cover {
    max-width: 180px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.book-title {
    font-size: 14pt;
    font-weight: bold;
}

.book-author, .book-publish {
    font: Libre Franklin, sans-serif;
}