@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.book-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .book-detail-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 2000px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 2rem;
    background: linear-gradient(to right, #D8C7B0 30%, #F6F3EE 30%, #F6F3EE 100%);
  }
  
  .back-btn {
    display: flex;
    width: 100px;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
  }
  
  .back-btn p {
    margin-left: 10px;
    font-family: 'Libre Franklin', sans-serif;
  }
  
  .book-details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    object-fit: contain;
  }
  
  .book-details-cover img {
    max-width: 300px;
    object-fit: contain;
    margin-left: 4rem;
  }
  
  .book-details-info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding: 2rem;
  }
  
  .book-details-title,
  .book-details-description,
  .book-details-subjects,
  .book-details-author {
    margin-bottom: 20px;
  }
  
  .book-details-subjects,
  .book-details-author {
    font-family: Frank Ruhl Libre, serif;
    font-size: 14pt;
    font-weight: 500;
  }

  .book-details-subjects {
    color: #7A7C64;
  }

  .book-details-description {
    font-family: Libre Franklin, sans-serif !important;
    font-size: 10pt;
    line-height: 1.5;
    width: 600px;
  }


  .book-details-title {
    font-size: 25pt;
    font-weight: 600;
  }