.book-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .book-detail-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 2rem;
    background: linear-gradient(to right, #D8C7B0 30%, #F6F3EE 30%, #F6F3EE 100%);
  }
  
  .back-btn {
    display: flex;
    width: 100px;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
  }
  
  .back-btn p {
    margin-left: 10px;
  }
  
  .book-details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .book-details-cover img {
    max-width: 300px;
    object-fit: contain;
  }
  
  .book-details-info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding: 2rem;
  }
  
  .book-details-title,
  .book-details-description,
  .book-details-subjects,
  .book-details-author {
    margin-bottom: 20px;
  }

  .book-details-title {
    font-size: 30px;
    font-weight: 600;
  }